{% extends "mainpage/header.html" %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form.errors }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mx-auto" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% if form.errors %}
<script>
    $(document).ready(function() {
        console.log("form is error here")
        $('#myModal').modal('show');
    });
</script>
{% endif %}
<div class="container mt-5">
    <div class="card fix-col">
        <div class="card-header ">
            <div class="card-title">
                Register
            </div>
        </div>
        <div class="card-body">
            <form method="POST">
                {%csrf_token %}
                <div class="form-group mt-5">
                    {% for field in form %}
                    <div class="form-group mt-5">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <button type="Submit" class="btn btn-dark mt-5">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
