{% extends "mainpage/nav.html" %}

{% block body %}
<div class="container mt-5">
    <div class="card fix-col">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <h4>Job Information</h4>
                {% for field in job_form %}
                    <div class="form-group mt-5">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}

                <h4>Address Information</h4>
                {% for field in address_form %}
                    <div class="form-group mt-5">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="Submit" class="btn btn-dark mt-5">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
